* {
	transition: all 0.3s linear;
	color: inherit;
	font-family: var(--font);
	touch-action: manipulation;
}
input {
	background: var(--b-1);
	color: var(--c-1);
}
html {
	margin: 0;
	overflow-x: hidden;
}
body {
	background: var(--bg-1);
	color: var(--c-1);
	height: 100vh;
	width: 100vw;
	margin: 0;
	transition: all 0.3s, width 0s;
}
#app {
}

button {
	border: 2px solid;
	background: var(--bg-1);
	outline: none;
	padding: 2px 8px;
	margin: 2px;
	font-size: 14px;
	cursor: default;
}
button:hover {
	border: 2px solid #fb7;
	box-shadow: 0px 0px 7px 1px #fb7;
}
button:active {
	background: var(--bg-3);
}
button:disabled, .disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}
select {
	background: var(--bg-1) !important;
}

.centre {
	display: flex;
	justify-content: center;
	align-items: center;
}
.col {
	display: flex;
	flex-direction: column;
}

.option {
	width: 180px;
	height: 60px;
	font-size: 18px;
	vertical-align: top;
	margin: 5px 0;
}

#other-text {
	border: 2px solid;
	height: 90px;
	padding: 5px;
}
#c-container {
	margin-top: 4px;
	width: calc(100% - 4px);
	border: 2px solid;
	position: relative;
	height: calc(100% - 113px);
}
.c {
	position: absolute;
}

.building-segment {
	border-bottom: 2px dashed var(--c-2);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	height: 80px;
	font-size: 15px;
}
.research-segment {
	border-bottom: 2px dashed var(--c-2);
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100px;
	padding: 0 5px;
}
.bought {
	opacity: 1 !important;
	cursor: default !important;
	background-color: #060;
}

.upg-button {
	width: 150px;
	min-height: 150px;
	vertical-align: top;
}


.med-button, .mobile {
	height: 40px;
	width: 50px;
	vertical-align: middle;
}
.mobile {
	font-size: 24px;
	margin: 2px;
}
.mobile.fulltxt {
	font-size: 18px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-2);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--c-2); 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fffa; 
}