#mobile-controls {
	display: none;
	position: fixed;
	border: 2px solid;
	background-color: var(--bg-2);
	bottom: 0;
}
#mobile-controls * {
	user-select: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
	#mobile-controls {
		display: block;
	}
	.currency-text {
		font-size: 17px !important;
	}
}
