.mobile-controls {
	display: none;
	position: fixed;
	border: 2px solid;
	background-color: var(--bg-2);
	bottom: 0;
}

@media only screen and (hover: none) and (pointer: coarse) {
	.mobile-controls {
		display: block;
	}
	.currency-text {
		font-size: 17px !important;
	}
}
